<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.png">
  <title>{% block title %}Home{% endblock %} {% block title-suffix %} | Pastebin{% endblock %}</title>

  {% block style %}
  <!-- tailwind.css -->
  <link href="https://cdn.bootcdn.net/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
  {% endblock %}

  {% block head-script %}
  {% endblock %}
</head>

<body>
  {% block body %}
  {% endblock %}

  {% block script %}{% endblock %}
</body>
</html>
