{% extends 'layout.html' %}
{% load i18n %}

{% block style %}
{{ block.super }}

<style>
  {% autoescape off %} 
  {{ styles }}
  {% endautoescape %}
</style>
{% endblock %}

{% block content %}
<main role="main">
  <div class="wrapper border rounded-sm">
    {% autoescape off %} 
    {{ highlighted }}
    {% endautoescape %}
  </div>

  <div class="share-box mt-2 border rounded-sm px-2 py-2 mt-2 mb-4">
    <p>
        {% translate 'Raw text:' %} 
        <a class="text-blue-800 hover:underline" href="{{ raw_link }}">{{ raw_link }}</a>
    </p>
    <p>
        {% translate 'Copy the link:' %} 
        <a class="text-blue-800 hover:underline" href="{{ link }}">{{ link }}</a>
    </p>
  </div>
</main>
{% endblock %}
